{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
          {% for actor in actors %}
            <li class="todo-item">
              <!-- <form action="/complete" method="POST" class="todo-complete-form"> -->

                <input type="hidden" name="id" value="{{ actor.id }}">

                <!-- Checkbox triggert Submit -->
                
                <label for="actor-{{ actor.id }}" class="todo-content">
                  {{ actor.actor_fname}} {{actor.actor_lname}} <!--Titel/Fett gedruckt, z.B. Max Mustermann-->
                  <span class="todo-date">Grösse: {{ actor.actor_size }}</span> <!--graue Zeilen-->
                  <span class="todo-date">Email-Adresse: {{ actor.actor_email }}</span>
                  <span class="todo-date">Rolle: {{ actor.role_name }}</span>
                </label>
              <!-- </form> -->
            </li>
          {% else %}
            <div>Noch keine Schauspielenden erfasst!</div>
          {% endfor %}
        </ul>

      <div class="todo-form">
        <form action="/schauspielende" method="POST">

          <h2>Schauspielende(r) hinzufügen</h2>

          <div class="form-group">
            <label for="actor_fname">Vorname</label>
            <input type="text" id="actor_fname" name="actor_fname" class="form-control"
              placeholder="Max" required />
          </div>

          <div class="form-group">
            <label for="actor_lname">Nachname</label>
            <input type="text" id="actor_lname" name="actor_lname" class="form-control"
              placeholder="Mustermann" required />
          </div>

          <div class="form-group">
            <label for="actor_lname">Email-Adresse</label>
            <input type="text" id="actor_email" name="actor_email" class="form-control"
              placeholder="max@mustermann.com" required />
          </div>
          
          <div>
            <label for="actor_size">Grösse wählen:</label>
              <select name="actor_size" id="actor_size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
              </select>
          </div>

          <div>
          <label for="role_id">Rolle wählen:</label>
            <select name="role_id" id="role_id">
              {% for role in roles %}
              <option value="{{ role.id[0] }}">{{ role.role_name }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </form>
      </div>

      <div class="todo-form">
        <div style="margin-bottom: 10px; font-weight: bold;">Alle Schauspielenden erfasst?</div>
        <a class="btn btn-primary" href="/szenen">Weiter zu den Szenen!</a>
      </div>
{% endblock %}

      