{% extends "base.html" %}

{% block content %}
    
    <div class="table-container">
        
      <head>
          <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
            }
          </style>
        </head>

        <body>
          <table style="width:80%">

            <tr>
              <th>Rolle</th>
              <th>Schauspielende</th> 
              <th>Kostüm</th>
            </tr>

            {% for role in roles %}
              <tr>
                <td>{{ role.role_name }}</td>
                <td>
                  {% if role.actor_fname %}
                    {{ role.actor_fname }} {{ role.actor_lname }}
                  {% else %}
                    <em>ROLLE NICHT BESETZT!</em>
                  {% endif %}
                </td>
                <td>
                  {% if role.costume_name is none %}
                    <em>KEIN PASSENDES KOSTÜM VORHANDEN!</em>
                  {% else %}
                    {{ role.costume_name }} ({{ role.costume_size }})
                  {% endif %}
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="3">Noch keine Rollen erfasst!</td>
              </tr>
            {% endfor %}

          </table>
        </body>

    </div>
    <div class="todo-form">
      <form action="/ueberblick_rollen" method="GET">
      </form>
    </div>

{% endblock %}