{% extends "base.html" %}

{% block content %}
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
    </style>

    <h2>Gesamtübersicht</h2>

    <div class="table-container">
      <table style="width:100%">
        <tr>
          <th>Szene</th>
          <th>Rollen (Schauspieler:in)</th> 
        </tr>
        {% for scene in scenes %}
          <tr>
            <td>{{ scene.scene_name }}</td>
            <td>
              {% if scene.role_actor_pairs %}
                {{ scene.role_actor_pairs }}
              {% else %}
                <em>KEINE ROLLEN ERFASST!</em>
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">Noch keine Szenen erfasst!</td>
            </tr>
        {% endfor %}
        </table>

    </div>

    <p></p>

    <div style="margin-bottom: 10px; font-weight: bold;">Falsche Übersicht?</div>
    <a class="btn btn-primary" href="/ueberblick_rollen">Zur Rollen-Kostüm-Übersicht wechseln!</a>

{% endblock %}