{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
          {% for costume in costumes %}
            <li class="todo-item">
              <!-- <form action="/complete" method="POST" class="todo-complete-form"> -->

                <input type="hidden" name="id" value="{{ costume.id }}">

                <!-- Checkbox triggert Submit -->
                
                <label for="costume-{{ costume.id }}" class="todo-content">
                  {{ costume.costume_name }}
                  <span class="todo-date">Grösse {{ costume.costume_size }}</span>
                </label>
              <!-- </form> -->
            </li>
          {% else %}
            <div>Noch keine Kostüme erfasst!</div>
          {% endfor %}
        </ul>
{% endblock %}

      