{% extends "base.html" %}

{% block content %}
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Rolle</th>
            <th>Schauspielende</th>
            <th>Kostüm</th>
          </tr>
        </thead>
       <tbody>
          {% for role in roles %}
          <tr>
            <td>{{roles.role_name}}</td>
            <td>{{roles.actor_fname}} {{roles.actor_lname}}</td>
            <td>{{roles.costume_name}} ({{roles.costume_size}}</td>
          </tr>
          {% else %}
            <div>Noch keine Rollen erfasst!</div>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="todo-form">
      <form action="/überblick_rollen" method="POST">
      </form>
    </div>
{% endblock %}