{% extends "base.html" %}

{% block content %}
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
    </style>

    <h2>Gesamtübersicht</h2>

    <div class="table-container">
      <table style="width:80%">
        <tr>
          <th>Szene</th>
          <th>Rollen</th> 
          <th>Schauspielende</th>
        </tr>
        {% for scene in scenes %}
          <tr>
            <td>{{ scene.scene_name }}</td>
            <td>
              {% if scene.role_name %}
                {{ scene.role_name }}
              {% else %}
                <em>KEINE ROLLE!</em>
              {% endif %}
            </td>
            <td>
              {% if not scene.actor_fname %}
                <em>KEINE SCHAUSPIELNDNn!</em>
              {% else %}
                {{ scene.actor_fname }} {{ scene.actor_lname }}
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">Noch keine Szenen erfasst!</td>
            </tr>
        {% endfor %}
        </table>

    </div>
    <div class="todo-form">
      <form action="/ueberblick_szenen" method="GET">
      </form>
    </div>

    <div style="margin-bottom: 10px; font-weight: bold;">Falsche Übersicht?</div>
    <a class="btn btn-primary" href="/ueberblick_rollen">Zur Rollen-Kostüm-Übersicht wechseln!</a>

{% endblock %}