{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
          {% for scene in scenes %}
            <li class="todo-item">
              <!-- <form action="/complete" method="POST" class="todo-complete-form"> -->

              <input type="hidden" name="id" value="{{ scene.id }}">

              <!-- Checkbox triggert Submit -->

              <label for="scene-{{ scene.id }}" class="todo-content">
                {{ scene.scene_name}} <!--Titel/Fett gedruckt, z.B. Szene 1-->
                <span class="todo-date">Beteiligte Rollen: {{ scene.roles_list if scene.roles_list else 'Keine Rollen in dieser Szene' }}</span> <!--graue Zeilen-->
                <!--<span class="todo-date">{{ scenes.roles }}</span> -->
              </label>

              <!-- </form> -->
            </li>
          {% else %}
            <div>Noch keine Szenen erfasst!</div>
          {% endfor %}
        </ul>

      <div class="todo-form">
        <form action="/szenen" method="POST">
        <h2>Szene hinzufügen</h2>
        <div class="form-group">
          <label for="scene_name">Szenenname</label>
          <input type="text" name="scene_name" class="form-control" placeholder="Szene 1" required />
        </div>
        
        <label>Wählen Sie alle in der Szene beteiligten Rollen aus:</label>
        {% for role in roles %}
        <div>
          <input type="checkbox" name="role_ids" value="{{ role.id }}" id="role_{{ role.id }}">
          <label for="role_{{ role.id }}">{{ role.role_name }}</label>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </form>
      </div>
{% endblock %}


      