{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
          {% for scene in scenes %}
            <li class="todo-item">
              <!-- <form action="/complete" method="POST" class="todo-complete-form"> -->

              <input type="hidden" name="id" value="{{ scene.id }}">

              <!-- Checkbox triggert Submit -->
                
              <label for="scene-{{ scene.id }}" class="todo-content">
                {{ scene.scene_name}} <!--Titel/Fett gedruckt, z.B. Szene 1-->
                <span class="todo-date">Beteiligte Rollen:</span> <!--graue Zeilen-->
                <!--<span class="todo-date">{{ scenes.roles }}</span> -->
              </label>

              <label for="scene-{{ scene.id }}" class="todo-content">
                {{ scene.scene_name}} <!--Titel/Fett gedruckt, z.B. Szene 1-->
                <span class="todo-date">Beteiligte Rollen: {{ scene.roles_list if scene.roles_list else 'Keine Rollen in dieser Szene' }}</span> <!--graue Zeilen-->
                <!--<span class="todo-date">{{ scenes.roles }}</span> -->
              </label>

              <!-- </form> -->
            </li>
          {% else %}
            <div>Noch keine Szenen erfasst!</div>
          {% endfor %}
        </ul>

      <div class="todo-form">
        <form action="/szenen" method="POST">

          <h2>Szene hinzufügen</h2>

          <div class="form-group">
            <label for="scene_name">Szenenname</label>
            <input type="text" id="scene_name" name="scene_name" class="form-control"
              placeholder="Szene 1" required />
          </div>
          
          <label >Wählen Sie alle Rollen aus, die in dieser Szene vorkommen:</label>
          {% for role in roles %}
          <div>
            <input type="checkbox" name="role_ids" value="{{ role.id }}" id="role_{{ role.id }}">
            <label for="role_{{ role.id }}">{{ role.name }}</label>
          </div>
          {% endfor %}

          <div class="form-group">
            <label for="role_name1">1. beteiligte Rolle</label>
            <input type="text" id="role_name1" name="role_name1" class="form-control"
              placeholder="Mickey Mouse" required />
          </div>

          <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </form>
      </div>
{% endblock %}


      