{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
          {% for scene in scenes %}
            <li class="todo-item">
              <!-- <form action="/complete" method="POST" class="todo-complete-form"> -->

                <input type="hidden" name="id" value="{{ scene.id }}">

                <!-- Checkbox triggert Submit -->
                
                <label for="scene-{{ scene.id }}" class="todo-content">
                  {{ scene.scene_name}} <!--Titel/Fett gedruckt, z.B. Szene 1-->
                  <span class="todo-date">Beteiligte Rollen:</span> <!--graue Zeilen-->
                  <!--<span class="todo-date">{{ scenes.roles }}</span> -->
                </label>
              <!-- </form> -->
            </li>
          {% else %}
            <div>Noch keine Szenen erfasst!</div>
          {% endfor %}
        </ul>

      <div class="todo-form">
        <form action="/szenen" method="POST">

          <h2>Szene hinzufügen</h2>

        <form method="post" action="/save_scene">

          <label>
            Szenenname:
            <input type="text" name="scene_name" required>
          </label>

          <h4>Rollen</h4>

          <div id="roles">
            <input type="text" name="roles[]" placeholder="Rollenname">
          </div>

          <button type="button" onclick="addRole()">Weitere Rolle</button>
          <br><br>

          <button type="submit">Speichern</button>

        </form>
      </div>
{% endblock %}

      